<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <!-- TO get the previous value, instead of using placeholder, replace it with value = obj.data 
                value attribute fills data inside the field -->
            <input type="text" value="<%= blog.title %>" name="blog[title]" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" value="<%= blog.image %>" name="blog[image]">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <!-- text areas dont have a value attribute, put data in between the tags  -->
            <textarea name="blog[body]" required><%=blog.body %></textarea>
        </div>
        <div class="field">
            <label>Date</label>
            <input type="date" name="blog[created]" value="<%=blog.created %>" required>
        </div>
        <input class="ui purple inverted button" type="submit">Update Post</in>
    </form>
</div>

<% include ./partials/footer %>